*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    max-width: 1400px;
    width: 100%;
    height: 801px;
    margin: 3.5% auto;
    display: flex;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
}

hr {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* header */

.header {
    display: flex;
    flex-direction: column;
    width: 72px;
    background-color: rgba(0, 0, 0, 0.7);
    mix-blend-mode: normal;
    background-image: url(img/circle.png);
    background-repeat: no-repeat;
    background-position: center 10.5px;
    padding-top: 32px;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    flex-direction: column;
}

.nav-menu li {
    position: relative;
}

.nav-menu li:hover::after {
    z-index: 1;
    width: 8px;
    height: 8.5px;
    content: "";
    position: absolute;
    background-image: url(img/shape1.png);
    background-repeat: no-repeat;
    top: 40%;
    left: 0;
}

/* nomad-list */

.main {
    display: flex;
}

.nomad-list {
    width: 261px;
    background-color: rgba(37, 39, 42, 0.95);
    mix-blend-mode: normal;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B5B5B5;
}

.nomad-list--top {
    padding: 0 26px;
    padding-top: 35.5px;
    display: flex;
    justify-content: space-between;
}

.nomad--title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    position: relative;
}

.nomad--title::after {
    content: "";
    position: absolute;
    right: -20%;
    top: 40%;
    height: 7.5px;
    width: 11.5px;
    background: url(img/icon-strelka.png) no-repeat;
}

.settings {
    width: 16px;
    height: 15.5px;
    align-self: center;
}

.treads {
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 32px;
    position: relative;
}

.treads::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    background: url(img/message.png) no-repeat;
    left: -29px;
}

.channels {
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #919191;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.channel {
    padding-left: 36.5px;
    margin-bottom: 17.5px;
}

.channel .channel-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #919191;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.channel .channel-list .general-channel {
    height: 30px;
    width: 213.5px;
    padding-top: 4px;
    margin-bottom: -9px;
    background: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
    border-radius: 4px;
    padding-left: 13px;
    font-weight: 700;
}




.friends {
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #919191;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.friend {
    margin-left: -31px;
}

.friend .friend-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.online,
.offline {
    display: flex;
    gap: 15px;
    align-items: center;
    position: relative;
}

.online::before {
    content: "";
    position: absolute;
    height: 7.5px;
    width: 8px;
    background: url(img/online.png) no-repeat;
    left: 20%;
}

.offline::before {
    content: "";
    position: absolute;
    height: 7.5px;
    width: 8px;
    background: url(img/offline.png) no-repeat;
    left: 20%;
}

/* Chat */

.chat {
    background: #FFFFFF;
    width: 870px;
    height: 100%;
    padding-top: 31.5px;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 23.5px;
    padding-right: 23.5px;
}

.chat--info {
    display: flex;
    gap: 22px;
    align-items: center;
}

.colocol {
    position: relative;
}

.colocol::after {
    content: "";
    position: absolute;
    height: 5.5px;
    width: 5.5px;
    background: url(img/colocol-uved.png) no-repeat;
    right: -3px;
}

.chat-header input[type="search"] {
    padding: 8px 0;
    padding-left: 16.5px;
    width: 241px;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    background: rgba(0, 0, 0, 0.0001);
    border-radius: 4px;
    font-size: 14px;
    line-height: 17px;
    color: #8D8D8D;
}

.search {
    position: relative;
}

.search::after {
    content: "";
    position: absolute;
    height: 15.5px;
    width: 15.5px;
    background: url(img/search.png) no-repeat;
    top: 30%;
    right: 9px;
}

.people {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #A4A4A4;
}

.people::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 10.5px;
    background: url(img/people.png) no-repeat;
    left: -15px;
    top: 2px;
}

.channel--title {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.channel--title::after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15.5px;
    background: url(img/star.png) no-repeat;
    top: 20%;
    right: -21px;
}

.hr-1 {
    transform: translateY(14.5px);
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.24;
}

.chat--messages {
    margin-top: 35px;
    padding-right: 23.5px;
    padding-left: 23.5px;
}

.messages li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-left: -328px;
    padding: 9px 0;
}

.messages li:nth-child(2) .chat--messages-message img {
    margin-left: -328px;
}

.hr-ib {
    display: inline-block;
    width: 40%;
    opacity: 0.16;
}

.hr-2 {
    width: 50%;
}

.date {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #8D8D8D;
}

.date-center {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 14.5px;
}

.name {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    margin-bottom: 3px;
}

.messages--text {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    width: 777px;
}

.blue {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #3577EF;
}

.messages li:first-child {
    padding-top: 0;

}

.name::after {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8D8D8D;
    margin-left: 8px;
}

.messages li:first-child .name::after {
    content: "6:38 PM";
}

.messages .account-2 .name::after {
    content: "5:02 PM";
}

.messages .account-2 p {
    position: relative;
    width: 443px;
}

.messages .account-2 p::after {
    width: 16px;
    height: 16px;
    content: "";
    position: absolute;
    background: url(img/layer1.png) no-repeat;
    right: -16px;
    top: 0;
}

.account-2 .chat--messages-message {
    position: relative;
}

.account-2 .chat--messages-message::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 30px;
    background: url(img/love.png) no-repeat 0 0;
    bottom: 0;
    left: 238px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
}

.messages .account-3 .name::after {
    content: "11:54 AM";
}

.messages .account-3 p {
    position: relative;
    width: 417px;
}

.messages .account-3 p::after {
    width: 17px;
    height: 16px;
    content: "";
    position: absolute;
    background: url(img/layer2.png) no-repeat;
    right: -16px;
    top: 0;
}

.messages .account-4 .name::after {
    content: "11:54 AM";
}

.messages li:last-child .name::after {
    content: "11:59 AM";
}

.hr-footer {
    margin-top: 20px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.24;
}

.chat-footer {
    width: 100%;
    padding-left: 91px;
    padding-top: 26px;
    padding-bottom: 28.5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8D8D8D;
}

.chat-footer .nabor-message {
    position: relative;
    height: 22px;
}

.chat-footer .nabor-message::before {
    height: 22px;
    width: 13.5px;
    position: absolute;
    content: "";
    background: url(img/screp.png) no-repeat;
    left: -54px;
}

.chat-footer .nabor-message::after {
    height: 21.5px;
    width: 15.5px;
    position: absolute;
    content: "";
    background: url(img/micro.png) no-repeat;
    left: -25px;
}

.chat-footer {
    position: relative;
}

.chat-footer::after {
    height: 20px;
    width: 20px;
    position: absolute;
    content: "";
    background: url(img/smile.png) no-repeat;
    right: 23.5px;
    top: 30%;
}

/* info */

.info-account {
    width: 201px;
    height: 100%;
    background-color: rgb(207, 210, 214);
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.info-account::after {
    content: "";
    height: 16px;
    width: 10px;
    position: absolute;
    background: url(img/strelka-pravo.png) no-repeat;
    right: 25px;
    bottom: 28.5px;
}

.name-info {
    margin-left: 20px;
}

.name-info .name-account {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 3.5px;
    position: relative;
    width: 84.5px;
}

.name-info .name-account::after {
    content: "";
    position: absolute;
    height: 7.5px;
    width: 8px;
    background: url(img/online.png) no-repeat;
    top: 40%;
    right: -13px;
}

.name-info .info-job {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5F6164;
}

.sociality {
    margin-left: 20px;
    font-size: 0;
    display: flex;
    gap: 6.5px;
}

.soc {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #E8E8EB;
    text-align: center;
    vertical-align: middle;
}

.soc-fb {
    background-image: url(img/facebook.png);
    background-repeat: no-repeat;
    background-position: center;
}

.soc-tw {
    background-image: url(img/tw.png);
    background-repeat: no-repeat;
    background-position: center;
}

.soc-3 {
    background-image: url(img/soc-3.png);
    background-repeat: no-repeat;
    background-position: center;
}

.soc-4 {
    background-image: url(img/soc-4.png);
    background-repeat: no-repeat;
    background-position: center;
}

.message-btn {
    display: flex;
    padding-left: 19px;
    gap: 2px;
}

.mes-btn {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    background: #3577EF;
    border: none;
    border-radius: 5px;
    padding: 4.5px 41px;
    cursor: pointer;
}

.info-users {
    padding-left: 21px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.info-users li h4 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5F6164;
    margin-bottom: 2px;
}

.info-users li p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}